<h1>About me</h1>
<h2> This is a sample application for <a href="http://www.baserails.com">baserails</a> a platform that teaches people to build awsome custome websites with the Ruby on Rails application</h2>
<p>I am a student learning Ruby on Rails</p>
